node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

.env

# Google Firebase files
# Instructions on how to get them in the README.md
GoogleService-Info.plist
google-services.json