rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow only authenticated content owners access
    match /users/{authID}/{documents=**} {
      allow read, write: if request.auth != null && request.auth.uid == authID
    }
  }

  match /databases/{database}/documents {    
    match /databases/{database}/documents {
      match /users/{uid} {
        allow get: if request.auth.uid == uid;
      }
    }
  }
}
